// Buttons

$btn-border-radius: 0.25rem;
$btn-box-shadow: none;
$btn-font-size: 0.875rem;
$btn-font-weight: $font-weight-semi-bold;
$btn-line-height: 1.2;
$btn-padding-x: 1rem;
$btn-padding-y: 0.5626rem;
$btn-transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out, box-shadow 0.2s ease-out;
$btn-active-box-shadow: none;

$btn-primary: (
	border-color: transparent,
	bg: $primary-a700,
	text-decoration: none,
	hover-bg: $primary-a400,
	hover-border-color: transparent,
	hover-text-decoration: none,
	focus-bg: $primary-a200,
	focus-border-color: transparent,
	focus-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2)#{','} 0px 4px 5px 0px rgba(0, 0, 0, 0.14)#{','} 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
	active-bg: $primary-a100,
	active-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	active-border-color: transparent,
	active-focus-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	disabled-bg: $gray-300,
	disabled-border-color: transparent,
	disabled-color: $gray-500,
);

$btn-secondary: (
	bg: transparent,
	border-color: $gray-300,
	color: $primary-a700,
	text-decoration: none,
	hover-bg: $primary-l6,
	hover-border-color: $gray-300,
	hover-color: $primary-a700,
	hover-text-decoration: none,
	focus-bg: $primary-l5,
	focus-border-color: $gray-300,
	focus-box-shadow: none,
	focus-color: $primary-a700,
	active-bg: $primary-l4,
	active-border-color: $gray-300,
	active-box-shadow: none,
	active-color: $primary-a700,
	disabled-bg: $gray-300,
	disabled-border-color: transparent,
	disabled-color: $gray-500,
);

$btn-success: (
	border-color: transparent,
	bg: $success-d1,
	color: $white,
	text-decoration: none,
	hover-bg: $success,
	hover-border-color: transparent,
	hover-color: $white,
	hover-text-decoration: none,
	focus-bg: $success-l1,
	focus-border-color: transparent,
	focus-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2)#{','} 0px 4px 5px 0px rgba(0, 0, 0, 0.14)#{','} 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
	focus-color: $white,
	active-bg: $success-l2,
	active-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	active-border-color: transparent,
	active-color: $white,
	active-focus-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	disabled-bg: $gray-300,
	disabled-border-color: transparent,
	disabled-color: $gray-500,
);

$btn-info: (
	border-color: transparent,
	bg: $info-d2,
	color: $white,
	text-decoration: none,
	hover-bg: $info-d1,
	hover-border-color: transparent,
	hover-color: $white,
	hover-text-decoration: none,
	focus-bg: $info,
	focus-border-color: transparent,
	focus-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2)#{','} 0px 4px 5px 0px rgba(0, 0, 0, 0.14)#{','} 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
	focus-color: $white,
	active-bg: $info-l1,
	active-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	active-border-color: transparent,
	active-color: $white,
	active-focus-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	disabled-bg: $gray-300,
	disabled-border-color: transparent,
	disabled-color: $gray-500,
);

$btn-warning: (
	border-color: transparent,
	bg: $warning,
	color: $black,
	text-decoration: none,
	hover-bg: $warning-l1,
	hover-border-color: transparent,
	hover-color: $black,
	hover-text-decoration: none,
	focus-bg: $warning-l2,
	focus-border-color: transparent,
	focus-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2)#{','} 0px 4px 5px 0px rgba(0, 0, 0, 0.14)#{','} 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
	focus-color: $black,
	active-bg: $warning-l3,
	active-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	active-border-color: transparent,
	active-color: $black,
	active-focus-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	disabled-bg: $gray-300,
	disabled-border-color: transparent,
	disabled-color: $gray-500,
);

$btn-danger: (
	border-color: transparent,
	bg: $danger-d2,
	color: $white,
	text-decoration: none,
	hover-bg: $danger-d1,
	hover-border-color: transparent,
	hover-color: $white,
	hover-text-decoration: none,
	focus-bg: $danger,
	focus-border-color: transparent,
	focus-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2)#{','} 0px 4px 5px 0px rgba(0, 0, 0, 0.14)#{','} 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
	focus-color: $white,
	active-bg: $danger-l2,
	active-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	active-border-color: transparent,
	active-color: $white,
	active-focus-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	disabled-bg: $gray-300,
	disabled-border-color: transparent,
	disabled-color: $gray-500,
);

$btn-light: (
	border-color: transparent,
	bg: $gray-50,
	color: $black,
	text-decoration: none,
	hover-bg: $gray-100,
	hover-border-color: transparent,
	hover-color: $black,
	hover-text-decoration: none,
	focus-bg: $gray-200,
	focus-border-color: transparent,
	focus-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2)#{','} 0px 4px 5px 0px rgba(0, 0, 0, 0.14)#{','} 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
	focus-color: $black,
	active-bg: $gray-300,
	active-box-shadow: 0px 5px 5px -3px rgba(255, 255, 255, 0.2)#{','} 0px 8px 10px 1px rgba(255, 255, 255, 0.14)#{','} 0px 3px 14px 2px rgba(0, 0, 0, 0.12),
	active-border-color: transparent,
	active-color: $black,
	active-focus-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	disabled-bg: $gray-300,
	disabled-border-color: transparent,
	disabled-color: $gray-500,
);

$btn-dark: (
	border-color: transparent,
	bg: $gray-900,
	color: $white,
	text-decoration: none,
	hover-bg: $gray-700,
	hover-border-color: transparent,
	hover-color: $white,
	hover-text-decoration: none,
	focus-bg: $gray-500,
	focus-border-color: transparent,
	focus-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2)#{','} 0px 4px 5px 0px rgba(0, 0, 0, 0.14)#{','} 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
	focus-color: $white,
	active-bg: $gray-400,
	active-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	active-border-color: transparent,
	active-color: $white,
	active-focus-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2)#{','} 0px 8px 10px 1px rgba(0, 0, 0, 0.14)#{','} 0px 3px 14px 2px rgba(0,0,0, 0.12),
	disabled-bg: $gray-300,
	disabled-border-color: transparent,
	disabled-color: $gray-500,
);

$btn-outline-primary: (
	text-decoration: none,
	hover-bg: $primary-l6,
	hover-color: $primary-a700,
	hover-text-decoration: none,
	focus-bg: $primary-l5,
	focus-box-shadow: none,
	active-bg: $primary-l4,
	active-box-shadow: none,
	active-color: $primary-a700,
	disabled-bg: $gray-300,
	disabled-border-color: transparent,
	disabled-color: $gray-500,
);

$btn-outline-secondary: (
	bg: $white,
	border-color: $gray-300,
	color: $gray-900,
	text-decoration: none,
	hover-bg: $gray-50,
	hover-border-color: $gray-300,
	hover-color: $gray-900,
	hover-text-decoration: none,
	focus-bg: $gray-100,
	focus-border-color: $gray-300,
	focus-box-shadow: none,
	focus-color: $gray-900,
	active-bg: $primary-l6,
	active-border-color: $primary-l5,
	active-box-shadow: none,
	active-color: $primary-a700,
	disabled-bg: $gray-300,
	disabled-border-color: transparent,
	disabled-color: $gray-500,
);
